@model IEnumerable<Schedule_Constructor.Models.DataModels.Group>

@{
    ViewData["Title"] = "Группы";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Группы</h1>
    <a asp-action="Groups" asp-controller="GroupAdd" class="btn btn-primary">Добавить</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="GroupEdit" asp-controller="GroupEdit" asp-route-id="@item.Id" class="btn btn-success">Редактировать</a>
                    @* <a asp-action="GroupDetails" asp-route-id="@item.Id" class="btn btn-primary">Подробнее</a>*@
                    <a asp-action="GroupDelete" asp-controller="GroupDelete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var messageType = '@TempData["messageType"]';
            var message = '@TempData["message"]';
            if (message) {
                if (messageType === 'success') {
                    toastr.success(message);
                } else if (messageType === 'error') {
                    toastr.error(message);
                }
            }
        });
    </script>
}
