@using Schedule_Constructor.Models.DataModels
@{
    var groups = ViewBag.Groups as List<Group>;
    var allSubjects = ViewBag.AllSubjects as List<Subject>;
    var selectedGroup = ViewBag.Group as Group;
    int daysInWeek = 6;
    string[] daysOfWeek = new string[] { "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота" };
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h2>Конструктор расписания</h2>

@if (selectedGroup == null)
{
    <form method="post" action="@Url.Action("Schedule", "Schedule")">
        <div class="form-group">
            <label for="group">Выберите группу:</label>
            <select id="group" name="group" class="form-control">
                @foreach (var group in groups)
                {
                    <option value="@group.Id_Group">@group.Name_Group</option>
                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Создать расписание</button>
    </form>
}
else
{
    <h3>Группа: @selectedGroup.Name_Group</h3>

    <table class="table">
        <thead>
            <tr>
                <th>День недели</th>
                <th>1 пара</th>
                <th>2 пара</th>
                <th>3 пара</th>
                <th>4 пара</th>
            </tr>
        </thead>
        <tbody>
            @for (int dayOfWeek = 0; dayOfWeek < daysInWeek; dayOfWeek++)
            {
                <tr>
                    <td>@daysOfWeek[dayOfWeek]</td>
                    @for (int lessonNumber = 0; lessonNumber < 4; lessonNumber++)
                    {
                        string selectName = $"schedule[{dayOfWeek}][{lessonNumber}]";
                        <td>
                            @{
                                string onchangeAttribute = "onchange=\"updateSchedule(this)\"";
                            }
                            <select class="form-control" name="@selectName" @Html.Raw(onchangeAttribute)>
                                <option class="unselected" value=""></option>
                                @foreach (var subject in allSubjects)
                                {
                                    <option value="@subject.Id_Subject">@subject.Name_Subject (@subject.Teacher)</option>
                                }
                            </select>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <button id="send-button" class="btn btn-danger">Сохранить</button>

    <script>
        // Сбор данных
        function collectScheduleData() {
            var scheduleData = [];
            var selects = document.querySelectorAll('select[name^="schedule"]');
            for (var i = 0; i < selects.length; i++) {
                var select = selects[i];
                var dayOfWeek = select.name.split('[')[1].slice(0, -1);
                var lessonNumber = select.name.split('[')[2].slice(0, -1);
                var subjectId = select.value || "0"; // Установка значения subjectId в 0 для пустых занятий
                scheduleData.push({
                    dayOfWeek: dayOfWeek,
                    lessonNumber: lessonNumber,
                    subjectId: subjectId
                });
            }
            return scheduleData;
        }


        // Отправка данных на сервер
        function sendScheduleData(scheduleData) {
            var groupId = @selectedGroup.Id_Group;
            var data = { group: groupId, scheduleData: scheduleData };
            $.ajax({
                type: 'POST',
                url: '/Schedule/Save',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    window.location.href = '/Schedule';
                }
            });
        }

        // Кнопка для отправки данных
        $('#send-button').on('click', function () {
            var scheduleData = collectScheduleData();
            sendScheduleData(scheduleData);
        });
    </script>
}
