@model IEnumerable<Schedule_Constructor.Models.DataModels.Schedule>
@{
    var groups =
        ViewBag.Groups as List<Schedule_Constructor.Models.DataModels.Group>;
    var allSubjects =
        ViewBag.AllSubjects as List<Schedule_Constructor.Models.DataModels.Subject>;
    var selectedGroup =
        ViewBag.SelectedGroup as Schedule_Constructor.Models.DataModels.Group;
    int daysInWeek = 6;
    string[] daysOfWeek = new string[] { "Понедельник", "Вторник", "Среда",
                                         "Четверг",     "Пятница", "Суббота" };
}

@{
    ViewData["Title"] = "Редактирование расписания";
}

<h1>Редактирование расписания</h1>

<h4>Расписание</h4>
<hr />

<h3>Группа: @selectedGroup.Name_Group</h3>

<form id="scheduleEditForm" asp-action="ScheduleEdit" asp-route-groupId="@selectedGroup.Id_Group">
    <input type="hidden" name="groupId" value="@selectedGroup.Id_Group" />
    <table class="table">
        <thead>
            <tr>
                <th>День недели</th>
                <th>1 пара</th>
                <th>2 пара</th>
                <th>3 пара</th>
                <th>4 пара</th>
            </tr>
        </thead>
        <tbody>
            @for (int dayOfWeek = 0; dayOfWeek < daysInWeek; dayOfWeek++)
            {
                <tr>
                    <td>@daysOfWeek[dayOfWeek]</td>
                    @for (int lessonNumber = 0; lessonNumber < 4; lessonNumber++)
                    {
                        string selectName = $"scheduleData[{dayOfWeek * 4 + lessonNumber}].SubjectId";
                        string dayOfWeekName =
                        $"scheduleData[{dayOfWeek * 4 + lessonNumber}].DayOfWeek";
                        string lessonNumberName =
                        $"scheduleData[{dayOfWeek * 4 + lessonNumber}].LessonNumber";
                        var schedule = Model.FirstOrDefault(s => s.DayOfWeek == dayOfWeek &&
                        s.LessonNumber == lessonNumber);
                        <td>
                            @{
                                string onchangeAttribute = "onchange=\"updateSchedule(this)\"";
                            }
                            <select class="form-control" name="@selectName">
                                <option value=""></option>
                                @foreach (var subject in allSubjects)
                                {
                                    <option value="@subject.Id_Subject" selected="@(schedule != null && schedule.SubjectId == subject.Id_Subject)">
                                        @subject.Name_Subject
                                    </option>
                                }
                            </select>

                            <input type="hidden" name="@dayOfWeekName" value="@dayOfWeek" />
                            <input type="hidden" name="@lessonNumberName" value="@lessonNumber" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-danger" />
        <a asp-action="Schedules" class="btn btn-primary">Назад к списку</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
