@model IEnumerable<Schedule_Constructor.Models.DataModels.Subject>

@{
    ViewData["Title"] = "Предметы";
}

<h1>Предметы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Subject)
                </td>
                <td>
                    <a asp-action="SubjectEdit" asp-route-id="@item.Id_Subject" class="btn btn-success">Редактировать</a> 
                    <a asp-action="SubjectDetails" asp-route-id="@item.Id_Subject" class="btn btn-primary">Подробнее</a> 
                    <a asp-action="SubjectDelete" asp-route-id="@item.Id_Subject" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

